.slick-dots li.slick-active button:before {
    color: white;
    width: 20px;
    height: 20px;
    margin: 0px;
    opacity: 1;
}

.slick-dots li button:before {
    color: white;
    width: 20px;
    height: 20px;
    margin: 0px;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;
}
