.popup-overlay {
    position: absolute !important;
    top: 100;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 378px;
    /* width: 89vw; */
}

.popup-content {
    margin: 0 !important;
}
